.jobs {
    box-sizing: border-box;
  }
.overlay {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
.popup {
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 32%;
     position: relative;
    /* height:48%;  */
    transition: all 5s ease-in-out;
  }


  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    margin-top:5%;
    overflow: auto;
    padding:2px;
    font-weight: bold;
  }

.jobs-flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;

  
}
.jobs-flex-container h1 {
	margin:0;
	display:inline-block;
}
.jobs-flex-container h4 {
	margin-left:21%;
	margin-top:-15%;      
}
.jobs-button{
	float:right;
    margin-top:-14%;
    border-radius:15px;
 background-color: #06D85F;
height:37%;
width:15%;
}
.jobs-button a {
text-decoration:none;
color:white;
}
.jobs-button:hover{
opacity:0.8;
}
.jobs-flex-container img{
 margin:5%;
height:40%;
width:15%;
}



.jobs-flex-item-left {
  background-color: teal;
  padding: 10px;
  flex: 50%;
  margin:5%;
border-radius:10px;
}

.jobs-flex-item-right {
  background-color: teal;
  padding: 10px;
  flex: 50%;
  margin:5%;
border-radius:10px;
}
.s{
    background-image: url("/images/Car.jpeg");
    background-size: cover; 
    background-position:center;
    background-repeat: no-repeat;
    color: white; 
	width:100%;
	height:auto;
    margin-top:-21px;
}
.s h1{
    padding: 300px 0px;
    text-align: center;
}
.d{
    color: white;
    height:45%;
    width:auto;
    border-radius: 5px;
    margin-left:70%;
    background-color: teal;
    margin-bottom:15px;
padding:15px;
}
.d:hover{
   background-color:#06D85F ;
}
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .jobs-flex-container {
    flex-direction: column;
  }
  .jobs-button{
    margin-top:-10%;
  }
.jobs-flex-container jobs-button{
margin-top:-10%;
}
}
